body {
    margin: 0;
    padding: 0;
    background: url(./subtle-prism.svg);
    box-sizing: border-box;
}
.appname {
    text-align: center;
    font-size: 60px;
    font-family:i;
}
.reg-container{
    display: flex;
    border-radius: 10px;
    border: 1px rgb(0, 145, 255) solid;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;

    padding: 4rem 30px 30px 30px;
    margin: 2rem;
    gap: 1rem;
}
.reg-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    

}
.reg-form input{
    outline: none;
   padding: 10px;
    border: 1px rgb(0, 145, 255) solid;
    border-radius: 5px;
}
input::placeholder{
    color: rgb(194, 194, 194);
}
input[type="submit"]{
    align-self: center;
    width: 50%;
    background-color:rgb(0, 145, 255) ;
    color: rgb(203, 203, 203);
}
.reg-container a{
    align-self: center;
    text-decoration: none;
    padding: 10px;
    color:rgb(0, 145, 255) ;
   
}