body {
    margin: 0;
    background: url(./subtle-prism.svg);
}

.container {
    margin: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.appname {
    font-size: 90px;
    font-family:
}

.start {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: aqua;
    color: white;
    font-size: medium;
    border: 1px solid transparent;
    width: 120px;
    height: 50px;
}

.name {
    display: flex;
    justify-content: center;
    background: whitesmoke;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 40px;
}

.name h1 {
    font-size: 18px;
}

.messages {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    height: 700px;
}

.messages p {
    font-size: 17px;
}

.received {
    width: 200px;
    float: left;
    margin-left: 10px;
    background-color: hsl(267, 24%, 93%);
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    padding: 7px 7px 7px 7px;
    margin-top: 5px;
    color: hsl(274, 23%, 6%);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.sent {
    float: right;
    width: 200px;
    margin-right: 15px;
    background-color: rgb(56, 92, 170);
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    padding: 7px 7px 7px 7px;
    color: hsl(210, 6%, 94%);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

form {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    padding: 2px;
}

input {
    flex-grow: 2;
    border: none;
}

input:focus {
    outline: none;
}

button {
    border: 1px solid blue;
    background: blue;
    color: white;
}